<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDOrOqd5ywUP698tXH_h8EGmqSLIgO5Tc</string>
	<key>GCM_SENDER_ID</key>
	<string>31316924046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.headlinez</string>
	<key>PROJECT_ID</key>
	<string>headlinez-18e51</string>
	<key>STORAGE_BUCKET</key>
	<string>headlinez-18e51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31316924046:ios:6d07ac6d09565f93c11bdf</string>
</dict>
</plist>